.loginScreen {
    position: relative;
    height: 100%;
    background: url("https://www.bajajfinservmarkets.in/content/dam/emistoremarketplace/index/20-02-2020/netflix/Netflix-Banner_1080x419.jpg?impolicy=pqmedium")
      center no-repeat;
    background-size: cover;
  }
  .loginScreen__logo {
    position: fixed;
    left: 0;
    width: 155px;
    object-fit: contain;
    padding-left: 30px;
  }
  .loginScreen__button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    text-transform: inherit;
    cursor: pointer;
    border-radius: 4px;
  }
  .loginScreen__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  
  .loginScreen__body > h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
  }
  .loginScreen__body > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .loginScreen__body > h3 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .loginScreen__body {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    margin-left: 20px;
    text-align: center;
    color: #fff;
    padding: 20px;
    left: 0;
    right: 0;
    
  }
  
  .loginScreen__input > form > input {
    padding: 10px;
    margin-top: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
  }
  .loginScreen__getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    background-color: #e50914;
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  .htag {
    margin-top: 15px;
    margin-left: 15px;
  }